
body{
    background-image: url('https://wallpapertag.com/wallpaper/full/6/6/c/276584-gorgerous-gray-background-1920x1080.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  
}
img{
  border-top-left-radius: 20%;
 
  border-bottom-right-radius: 20%;
}